.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(217, 54%, 11%);
}

.container {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.container .crd {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: hsla(216, 51%, 16%, 0.993);
  margin-top: 20px;
  border-radius: 4%;
  font-family: "outfit";
  position: relative;
}

.crd .overlay {
  width: 300px;
  height: 300px;
  position: absolute;
}

.crd .overlay .icon {
  position: absolute;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  background-color: hsla(178, 100%, 50%, 0.37);
}

.crd .overlay .icon img {
  width: 50px;
  height: 45px;
}

.crd .overlay .icon:hover {
  opacity: 1;
}

.crd .image .main-bg {
  width: 300px;
  height: 300px;
  border-radius: 4%;
  position: absolute;
}

.crd .text h1 {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 22px;
  margin-top: 334px;

}

.crd .text h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.crd .text p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 25px;
}

.crd .date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crd .date .icon1 {
  position: relative;
}

.crd .date .icon1 img {
  margin-right: 2px;
  position: absolute;
}

.crd .date .icon1 p span {
  margin-left: 17px;
}

.crd .date .icon2 {
  position: relative;
}

.crd .date .icon2 img {
  position: absolute;
  left: 58px;
}

.crd .date .icon1 {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.crd .date .icon2 {
  display: flex;
  justify-content: flex-end;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

.crd .line span {
  display: flex;
  width: 100%;
  height: 1px;
  background-color: hsl(215, 25%, 30%);
  ;
}

.crd .feed {
  display: flex;
  margin-top: 15px;
  position: relative;
}

.crd .feed .pic {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 2px solid hsl(0, 0%, 100%);
  position: absolute;
  top: 7px;
  margin-right: 15px;
}

.crd .feed .pic img {
  width: 100%;
}

.crd .feed p {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}

.crd .feed p:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.crd .feed p span {
  color: hsl(215, 51%, 70%);
}